<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DespesasEmDia_DD"
        tools:targetApi="31" >
        <activity
            android:name=".despesa.Despesa"
            android:exported="false" />
        <activity
            android:name=".adicionardespesa.AdicionarDespesa"
            android:exported="false" />
        <activity
            android:name=".criargrupo.CriarGrupo"
            android:exported="false" />
        <activity
            android:name=".grupo.Grupo"
            android:exported="false" />
        <activity
            android:name=".grupos.Grupos"
            android:exported="false" />
        <activity
            android:name=".paginainicial.PaginaInicial"
            android:exported="false" />
        <activity
            android:name=".perfilindividual.PerfilIndividual"
            android:exported="false" />
        <activity
            android:name=".recuperarsenha.RecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".deletarconta.DeletarConta"
            android:exported="false" />
        <activity
            android:name=".configconta.ConfigConta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".criarconta.CriarConta"
            android:exported="false" />
        <activity
            android:name=".atualizarconta.AtualizarConta"
            android:exported="false" />
        <activity
            android:name=".loginconta.LoginConta"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>